/* base css */
:root {
    --primary-color-: #0d6efd;

}

.mt24 {
    margin-top: 24px;
}

.mb24 {
    margin-bottom: 24px;
}


/* CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

.main {
    max-width: 1024px;
    margin: 24px auto;
}

.main__header {
    background-color: var(--primary-color-);
    border-top-left-radius: 160px;
    border-bottom-right-radius: 160px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    height: 308px;
}

.header-profile {
    max-width: 255px;
    text-align: center;
}

.avatar {
    width: 116px;
    height: 132px;
    border-radius: 5px;
}

.input-avatar {
    font-size: 12px;
}

.header-profile-info {
    font-size: 12px;
}

.header-list-info {
    margin: 0 0 12px;
}

.main__body-description {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "l l l l r r r r r r r .";
    display: grid;
    position: relative;
}

.col-left {
    grid-area: l;
    margin-left: 16px;
}


.col-left::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 3px solid var(--primary-color-);
    height: calc(100% + 20px);
    top: 0;
    left: 36%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap-right {
    padding: 12px;
    background-color: var(--primary-color-);
    position: relative;
    height: 44px;
}

.header-wrap-right::after {
    display: block;
    content: "";
    position: absolute;
    color: var(--primary-color-);
    right: -43px;
    top: 0px;
    border: 22px solid;
    border-right: 22px solid transparent;
    border-top: 22px solid transparent;
}

.header-wrap-left {
    padding: 12px;
    background-color: var(--primary-color-);
    position: relative;
    height: 44px;
}

.header-wrap-left::before {
    display: block;
    content: "";
    position: absolute;
    color: var(--primary-color-);
    left: -43px;
    top: 0px;
    border: 22px solid;
    border-left: 22px solid transparent;
    border-top: 22px solid transparent;
}




.col-right {
    grid-area: r;
    margin-left: 8%;
}

.col-left h3 {
    min-width: 75%;
    font-size: 24px;
    color: #fff;
}

.col-right h3 {
    min-width: 80%;
    font-size: 24px;
    color: #fff;
}

.body-icon {
    margin-top: 10px;
    font-size: 24px;
    color: var(--primary-color-);
}

.btn {
    margin-top: 52px;
    width: 100%;
}

.btn-submit, .btn-review {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: 0.3s background-color;
}

.btn-submit:hover, .btn-review:hover {
    color: #fff;
    background-color: var(--primary-color-);
}
/* Css Javascript */

.header-js {
    display: flex;
    justify-content: space-between;
    margin: 0px 5% 0 12%;
    height: 308px;
}

.header_name-js {
    margin-top: 12px;
    font-weight: 500;
}

.header-icon-js {
    font-size: 16px;
}

.list-info-js {
    font-size: 12px;
    margin-left: 8px;
}

.description-list-item-js {
    font-size: 20px;
}

/* Modal */

.my-modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.my-modal.open{
    overflow-y: auto;
    display: block;
}

.modal-haeder {
    background: var(--primary-color-);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-container {
    background: #fff;
    width: 1050px;
    margin: 0 auto;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.modal-close:hover {
    background: #ccc;
    color: #000;
}

.modal-close {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0.9;
    padding: 12px;
}

.modal-body {
    padding: 16px;
}

.modal-help {
    padding: 16px;
    text-align: right;
}

.modal-help a{
    color: #2196F3;
}
